
<div *ngFor="let item of classroomStudent">
    <article class="slds-card slds-m-around_medium slds-card_boundary">
        <div class="slds-card__header ">
            <div class="slds-grid slds-wrap slds-p-around_small">
                <div class=" slds-col slds-size_1-of-12 ">
                    <b>
                        {{item.Id}}
                    </b>
                </div>
                <div class=" slds-col slds-size_2-of-12 ">
                    <b>
                        {{item.Name}}
                    </b>
                </div>
                <div class=" slds-col slds-size_1-of-12 ">
                    <b>
                        {{item.RollNo}}
                    </b>
                </div>
                <div class=" slds-col slds-size_1-of-12 ">
                    <b>
                        {{item.CourseId}}
                    </b>
                </div>
                <div class=" slds-col slds-size_1-of-12 ">
                    <b>
                        {{item.Year}}
                    </b>
                </div>
                <div class=" slds-col slds-size_2-of-12 ">
                    <b>
                        {{item.Semester}}
                    </b>
                </div>
                <div class=" slds-col slds-size_2-of-12 ">
                    <b>
                        {{item.DateOfAdmission}}
                    </b>
                </div>
                <div class=" slds-col slds-size_2-of-12 ">
                    <div class="slds-col_padded">
                        <ngl-checkbox-toggle   enabledText="Present" disabledText="Absent">
                          <input ngl type="checkbox"   [(ngModel)]="item.Attendance" >
                        </ngl-checkbox-toggle>
                    </div>
                </div>
            </div>
            
        </div>
    </article>
</div>
    <button type="button" nglButton variant="neutral" (click)="giveAttendance()">neutral</button>