<article class="slds-card " style="max-width: 400px; margin:auto; margin-top: 50px;" >
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate" *ngIf="isEdit">
      <div  class="slds-media__figure">
        <ngl-icon  iconName="action:edit" alternativeText="edit" size = "xx-small"></ngl-icon>
      </div>
      <div class="slds-media__body">
        <h2 class="slds-card__header-title">
            <span>Edit</span>
        </h2>
      </div>
    </header>
    <header class="slds-media slds-media_center slds-has-flexi-truncate" *ngIf="!isEdit">
      <div  class="slds-media__figure">
        <ngl-icon  iconName="action:edit" alternativeText="edit" size = "xx-small"></ngl-icon>
      </div>
      <div class="slds-media__body">
        <h2 class="slds-card__header-title">
            <span>Add</span>
        </h2>
      </div>
    </header>
  </div>
  <div class="slds-card__body slds-p-around_small">
    
<form #studentForm = "ngForm">
  <div class="slds-form-element">
    <label class="slds-form-element__label" for="text-input-id-1">
      <abbr class="slds-required" title="required">* </abbr>Name</label>
    <div class="slds-form-element__control">
      <input type="text" id="text-input-id-1" placeholder="Enter your name" required="" class="slds-input" [(ngModel)]="student.Name" name="name"/>
    </div>
  </div>
  <div class="slds-form-element">
    <label class="slds-form-element__label" for="text-input-id-1">
      <abbr class="slds-required" title="required">* </abbr>Roll Number</label>
    <div class="slds-form-element__control">
      <input type="text" id="text-input-id-1" placeholder="Enter your Roll Number" required="" class="slds-input" [(ngModel)]="student.RollNo" name="RollNo">
    </div>
  </div>
  <div class="slds-form-element">
  
    <div class="slds-form-element__control">
      <ngl-combobox label="Course" [options]="optionsCourseName" [(open)]="openCourse" [(selection)]="student.CourseId">
        <input nglCombobox placeholder="Select an Option">
      </ngl-combobox>
    </div>
  </div>
  <div class="slds-form-element">
    
    <div class="slds-form-element__control">
      <ngl-combobox label="Year" [options]="optionsYear" [(open)]="openYear" [(selection)]="student.Year">
        <input nglCombobox placeholder="Select an Option">
      </ngl-combobox>
  
    </div>
  </div>
  <div class="slds-form-element">
    
    <div class="slds-form-element__control">
      <ngl-combobox required="true" label="Semester" [options]="optionsSemester" [(open)]="openSemester" [(selection)]="student.Semester">
        <input nglCombobox placeholder="Select an Option">
      </ngl-combobox>
    </div>
  </div>
  <div class="slds-form-element">
    <label class="slds-form-element__label" for="text-input-id-1">
      <abbr class="slds-required" title="required">* </abbr>Date Of Admission </label>
    <div class="slds-form-element__control">
      <ngl-datepicker-input label="Date" [(value)]="doa" delimiter = "-" format="little-endian" ></ngl-datepicker-input>
    </div>
  </div>
  <div class="slds-text-align_center">
    <button *ngIf="isEdit" type="button" nglButton variant="success" nglButton (click)="showTopToast = true" (click)="Students()" class="slds-m-top_medium" >Update</button>
    <button *ngIf="!isEdit" type="button" nglButton variant="success" nglButton (click)="showTopToast = true" (click)="Students()" class="slds-m-top_medium " >Add</button>

  </div>
    

  </form>

  </div>
</article>

