<article class="slds-card " style="max-width: 400px; margin:auto; margin-top: 50px;" >
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate" *ngIf="isEdit">
      <div  class="slds-media__figure">
        <ngl-icon  iconName="action:edit" alternativeText="edit" size = "xx-small"></ngl-icon>
      </div>
      <div class="slds-media__body">
        <h2 class="slds-card__header-title">
            <span>Edit</span>
        </h2>
      </div>
    </header>
    <header class="slds-media slds-media_center slds-has-flexi-truncate" *ngIf="!isEdit">
      <div  class="slds-media__figure">
        <ngl-icon  iconName="action:edit" alternativeText="edit" size = "xx-small"></ngl-icon>
      </div>
      <div class="slds-media__body">
        <h2 class="slds-card__header-title">
            <span>Add</span>
        </h2>
      </div>
    </header>
  </div>
  <div class="slds-card__body slds-p-around_small">
    
<form #studentForm = "ngForm">
  <div class="slds-form-element">
    <label class="slds-form-element__label" for="text-input-id-1">
      <abbr class="slds-required" title="required">* </abbr>Name</label>
    <div class="slds-form-element__control">
      <input type="text" id="text-input-id-1" placeholder="Enter your name" required="" class="slds-input" [(ngModel)]="student.Name" name="name"/>
    </div>
  </div>
  <div class="slds-form-element">
    <label class="slds-form-element__label" for="text-input-id-1">
      <abbr class="slds-required" title="required">* </abbr>Roll Number</label>
    <div class="slds-form-element__control">
      <input type="text" id="text-input-id-1" placeholder="Enter your Roll Number" required="" class="slds-input" [(ngModel)]="student.RollNo" name="RollNo">
    </div>
  </div>
  <div class="slds-form-element">
    <label class="slds-form-element__label" for="text-input-id-1">
      <abbr class="slds-required" title="required">* </abbr>Department</label>
    <div class="slds-form-element__control">
      <div class="slds-select_container">
        <select class="slds-select" id="select-01" [(ngModel)]="student.Department" name="Department">
          <option value="">Please select</option>
          <option>ME</option>
          <option>CSE</option>
          <option>IT</option>
          <option>ECE</option>
          <option>EE</option>
          <option>CE</option>
        </select>
      </div>
    </div>
  </div>
  <div class="slds-form-element">
    <label class="slds-form-element__label" for="text-input-id-1">
      <abbr class="slds-required" title="required">* </abbr>Year</label>
    <div class="slds-form-element__control">
      <div class="slds-select_container">
        <select class="slds-select" id="select-01" [(ngModel)]="student.Year" name="Year">
          <option value="">Please select</option>
          <option>First Year</option>
          <option>Second Year</option>
          <option>Third Year</option>
          <option>Final Year</option>

        </select>
      </div>
    </div>
  </div>
  <div class="slds-form-element">
    <label class="slds-form-element__label" for="text-input-id-1">
      <abbr class="slds-required" title="required">* </abbr>Semester</label>
    <div class="slds-form-element__control">
      <div class="slds-select_container">
        <select class="slds-select" id="select-01" [(ngModel)]="student.Semester" name="Semester">
          <option value="">Please select</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
        </select>
      </div>
    </div>
  </div>
  <div class="slds-form-element">
    <label class="slds-form-element__label" for="text-input-id-1">
      <abbr class="slds-required" title="required">* </abbr>Date Of Admission </label>
    <div class="slds-form-element__control">
      <ngl-datepicker-input label="Date" [(value)]="doa" delimiter = "-" format="little-endian" ></ngl-datepicker-input>
    </div>
  </div>
  <div class="slds-text-align_center">
    <button *ngIf="isEdit" type="button" nglButton variant="success" nglButton (click)="showTopToast = true" (click)="Students()" class="slds-m-top_medium" >Update</button>
    <button *ngIf="!isEdit" type="button" nglButton variant="success" nglButton (click)="showTopToast = true" (click)="Students()" class="slds-m-top_medium " >Add</button>

  </div>
    

  </form>

  </div>
</article>

